# pytorch saved state is too big for github
*.pth
/Debug/
/img/*
a.out
temp/readtensor.c
tensor_bins/*
testexec
test.txt
testLoad.txt
testTsrLoadingExe
.vscode/
testVariDimsExe
diff_out.txt
diff.txt
stemRaw.txt
stemSigmoidCUDA.txt
stemSigmoidCudnn.txt
stemSigmoidTorch.bin
stemSigmoidTorch.txt
tmpTen.bin
tmpTens2
tmpTensCUDNN.txt
