# pytorch saved state is too big for github
*.pth
/Debug/
/img/*
a.out
temp/readtensor.c
testexec
test.txt
testLoad.txt
testTsrLoadingExe
.vscode/
testVariDimsExe
diff_out.txt
diff.txt
stemRaw.txt
stemSigmoidCUDA.txt
stemSigmoidCudnn.txt
stemSigmoidTorch.bin
stemSigmoidTorch.txt
tmpTen.bin
tmpTens2
tmpTensCUDNN.txt
bin2txtExe
temp/main_out.bin
temp/x_1_goal.txt
temp/x_2_goal.txt
visuals/flavr_actual_architecture.png:Zone.Identifier
Release/
